<div class="activities-detail">
  <h3>Activities Detail</h3>
  <hr/>
  <div class="activity-wrapper" *ngIf="activitySelected">
    <div class="activity-left">
      <div class="item"><h4>Name: <span class="content">{{activitySelected.name}}</span></h4></div>
      <div class="item"><h4>Description: <span class="content">{{activitySelected.description}}</span></h4></div>
      <div class="item"><h4>Language: <span class="content">{{activitySelected.language}}</span></h4></div>
      <div class="item"><h4>Date: <span class="content">{{activitySelected.date | date: 'M/d/yy'}}</span></h4></div>
      <div class="item detail-bottom"><h4>People registered: <span class="content">{{activitySelected.peopleRegistered}}</span></h4></div>
    </div>
    <div class="activity-right">
      <div class="item"><h4>Category: <span class="content">{{activitySelected.category}}</span></h4></div>
      <div class="item"><h4>Subcategory: <span class="content">{{activitySelected.subcategory}}</span></h4></div>
      <div class="item"><h4>Price: <span class="content">{{activitySelected.price}}</span></h4></div>
      <div class="item detail-bottom" *ngIf="userLoggedIn?.type === 0"><button class="button">SIGN UP</button></div>
    </div>
    <div class="activity-favs" *ngIf="userLoggedIn?.type === 0">
      <button style="font-size: 1.3rem;border-radius: 4px;">❤️</button>
      <div><span style="font-size: .8rem;">Save Favorites</span></div>
    </div>
  </div>
</div>

