<div class="header-wrapper">
  <div class="header-logo"><a routerLink=""><img src="https://www.freepnglogos.com/uploads/logo-3d-png/3d-best-logo-maker-online-triangle-logo-design-17.png"></a></div>

  <div class="header-title"><a routerLink=""><h1>ActiviTrack</h1></a></div>

  <div class="header-menu">
    <ul class="header-menu-nav" *ngIf="!isLoggedIn">
      <li class="header-menu-nav-item"><a routerLink="/signin">Sign In</a></li>
      <li class="header-menu-nav-item"><a routerLink="/join">Join Now</a></li>
    </ul>

    <ul class="header-menu-nav" *ngIf="isLoggedIn">
      <li class="header-menu-nav-item"><a routerLink="">Home</a></li>

      <li class="header-menu-nav-item" *ngIf="userLoggedIn.type === 0"><a routerLink="/favorites">Favorites</a></li>
      <li class="header-menu-nav-item" *ngIf="userLoggedIn.type === 0"><a routerLink="/my-activities">My Activities</a></li>
      <li class="header-menu-nav-item" *ngIf="userLoggedIn.type === 1" routerLink="/admin"><a>Admin</a></li>

      <li class="header-menu-nav-item"><a routerLink="/profile">Profile</a></li>
      <li class="header-menu-nav-item"><a (click)="logoutUser()">Logout</a></li>
    </ul>
  </div>
</div>
<hr />
