.header-wrapper {
  display:flex;
  justify-content: space-between;
  margin:1rem;
}


.header-logo {
  width: 33%;
}

.header-logo img {
  width: 60px;
  margin-left: 2rem;
}

.header-title {
  width: 33%;
  text-align: center;
  font-size: .8rem;
  color: rgb(52, 255, 187);
}

.header-menu {
  width: 33%;
  margin:0;
  padding:0;
}

.header-menu-nav {
  display: flex;
  justify-content: flex-end;
}

.header-menu-nav-item {
  margin-right: 2rem;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  font-size: .85rem;
  text-align: center;
}

.header-menu-nav-item:hover {
  cursor: pointer;
}
